* {
  box-sizing: border-box;
}

html, body, .container {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #555;
  background-color: #d6d6d6;
}

h1 {
  margin-top: 0;
  text-align: center;
  background-color: #a9cfd0;
  color: #fff;
  margin: 0;
  padding: 20px 0;
}

ul {
  padding-left: 18px;
}

a, [type="submit"] {
  background-color: cadetblue;
  border-radius: 3px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  text-decoration: none; 
  font-size: 16px;
}

input {
  border: 1px solid cadetblue;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 3px;
  outline: none;
}

input:read-only {
  background-color: #e6e6e6;
}

th {
  border-bottom: 1px solid cadetblue;
}

th, td {
  padding: 5px 10px;
}

.container {
  margin: 0 auto;
  background-color: #f9f9f9;
  width: 900px;
}

.navbar {
  background-color: cadetblue;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.content {
  width: fit-content;
  margin: 20px auto;
}